
.topbarContainer{
    height: 50px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    padding: 10px 20px;
    z-index: 999;
    border-bottom: 2px solid darkgray;
    font-family: 'Roboto',sans-serif;
    background-color: #fff;
}
.topbarLeft{
    display:flex;
   align-items: center;
    gap:20px;
  
}
.topbarLeft:hover{
    color: blue;
}
.logo{
    font-size: 24px;
    color:darkblue;
    cursor: pointer;
    font-weight: bold;
}
 .topbarCenter{
    display: flex;
    
} 
.searchbar{
    border: 1px solid gray;
    height: 30px;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

.searchInput{
    border:none;
    width:100%;
    color:grey;
}
.searchInput:focus{
    outline:none;
} 
.topbarRight{
    display: flex;
    align-items: center;
    gap:20px;
    padding:20px;
}

.topbarIconItem{
    cursor: pointer;
    color: black;
    justify-content: space-between;
    gap:20px;
}
.rightIcons:hover{
    color:blue;
}
.rightIcons{
    padding: 10px;
   
}
.topbarImg{
    width: 42px;
    height:42px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}
span{
    font-weight: bold;
    font-size: 15px;
    color:black;
    cursor: pointer;
}
.dropdown-menu{
    position:absolute;
    top:40px;
    right:0;
    background-color:#fff;
    color:blue;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.1);

}
.dropdown-menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.dropdown-menu ul li{
    padding: 8px 16px;
    cursor: pointer;
}
.dropdown-menu ul li:hover{
    background-color: gainsboro;
}
span{
    font-weight: 600;
    font-size: 20px;
}
span:hover{
    color:blue;
}